<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/weather-icon.svg" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Weather Forecast</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/app.js" defer></script>
  </head>
  <body>
    {{>header}}
    <main>

      <div class="search-bar">
        <form class="weather-form" action="/weather" method="get">
        <input class="search-input" type="text" placeholder="Location" required>
        <button class="search-btn" type="submit"><img src="/img/arrow-right-line.svg" alt="search button"></button>
        </form>
        <p class="weather-error"></p>
      </div>

      <div class="results">

      </div>
    </main>
    {{>footer}}
    
  </body>
</html>