<header>
  <div>
    <h1>{{title}}</h1>
  </div>

  <div>
    <ul class="navbar">
      <li><span><a href="/">Home</a></span></li>
      <li><span><a href="/help">Help</a></span></li>
      <li><span><a href="/about">About</a></span></li>
    </ul>
  </div>
</header>